.nav{
    position: fixed;
    background-color: red;
    color: white;
    width: 100%;
    text-align: center;
}

.container{
    top: 20px;
    position: relative;
}

input[type="submit"]:disabled {
    background: #dddddd;
}